body {
	background-color: #dfe1ca;
}

#main_content {
	background-color: #859871;
}

#our {
	padding-top: 10px;
}

p {
	color: #dfe1ca;
}
#leaf {
	width: 30%;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	padding-top: 30px;
}

#place{
	text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#resources {
	font-size: 1.5em;
	font-family:'Barlow', sans-serif;
  	font-weight: 400;
  	color: #547254;
}
.spec_res, a {
	font-size: 1em;
	color: #dfe1ca;
}
h2 {
	text-align: center;
	padding-top: 20px;
	font-family:'Barlow', sans-serif;
  	font-weight: 400;
  	color: #547254;
}
ul {
	list-style-type: circle;
}
li {
	padding: 4px;
}
#recycle {
	padding-left: 15%;
	padding-bottom: 10%;
}
#flyer {
	padding-bottom: 10px;
	width: 100%;
	height: auto;
}


/* XL */
@media (min-width: 1200px) {
	#resources {
	font-size: 2.2em;
	}
	#recycle {
	margin-top: 15%;
	margin-left:20%;
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 12%;
	padding-bottom: 12%;
	border: 20px solid white;
	}
	.spec_res {
	font-size: 1.5em;
	}
	h2 {
		font-size: 2.5em;
	}
	#description {
		font-size: 1.3em;
	}
}

/* LG */
@media (min-width: 992px) and (max-width: 1199px) {
	#resources {
	font-size: 1.8em;
	}
	#recycle {
	margin-top: 10%;
	margin-left:15%;
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 12%;
	padding-bottom: 12%;
	border: 20px solid white;
	}
	.spec_res {
	font-size: 1.5em;
	}
	h2 {
		font-size: 2.5em;
	}
	#description {
		font-size: 1.3em;
	}
}

/* MD  */
@media (min-width: 768px) and (max-width: 991px) {
	#resources {
	font-size: 1.4em;
	}
	#recycle {
	padding-left: 25%;
	padding-top: 10%;
	}
}

/* SM */
@media (min-width: 576px) and (max-width: 767px) {
	#resources {
	font-size: 1.5em;
	}
	#stu_pres {
		padding-top: 20px;
	}
	#flyer {
	margin-top: 20px;
	padding-top: 10px;
	width: 240px;
	height: 380px;
	}
}

/* XS */
@media (max-width: 576px) {
	#init_title {
		width: 250px;
	}
	#info {
		font-size: 1em;
	}
	#resources {
	font-size: 1.2em;
	text-align: center;
	}
	h2 {
		text-align: left;
	}
	.spec_res {
	font-size: .8em;
	}
	#flyer2 {
		width: 40%;
		height: auto;
		padding-bottom: 15px;
	}

}




