body {
	background-color: #dfe1ca;
	box-sizing: border-box;
}

#title {
	font-family: 'Nixie One', cursive;
  	font-size: 4em;
  	text-align: center;

}
#main_content {
	background-color: white;
}

hr {
  border-top: 5px solid #C1CD99;
  padding-bottom: 4px;
}

h2 {
	text-align: center;
}

.text {
	text-align: center;
}