body {
	background-color: #859871;
	box-sizing: border-box;
}
#main_content {
	background-color: white;
	align-items: flex-start;

}


h1 {
	text-align: center;
	font-family:'Barlow', sans-serif;
  	font-weight: 400;
  	color: black;
  	padding-top: 1%;
  	font-style: italic;
}
.issue_num {
	font-family:'Barlow', sans-serif;
  font-weight: 400;
  color: #547254;
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline;
}

.col-5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 100%;
  padding-top: 30px;
  margin-bottom: 10%;
}
.about {
  margin-left: 0%;
  color: #547254;

}
span {
	font-style: italic;
}
hr {
  border-top: 5px solid #c1cd99;
}
