body {
	background-color: #859871;
	box-sizing: border-box;
}
#main_content {
	background-color: white;
	align-items: flex-start;
}

.button {
  background-color: #dfe1ca;
  color: black;
  cursor: pointer;
  padding: 22px;
  width: 90%;
  margin: auto;
  margin-bottom: 8px;
  border: none;
  text-align: center;
  font-size: 15px;
}

a:hover {
  color: #547254;
}

a {
  text-decoration-line: none;
}

#submissions {
  text-align: center;
  padding-bottom: 30px;
}

h1 {
	text-align: center;
	font-family:'Barlow', sans-serif;
  font-weight: 400;
  color: black;
  padding-top: 1%;
  font-style: italic;
}

hr {
  border-top: 5px solid #c1cd99;
}
#form {
  padding-bottom: 2%;
  text-align: center;
}
