body {
	background-color: #dfe1ca;
	box-sizing: border-box;
}

#main_content {
	background-image: url("darkleaves2.jpeg");
	background-size: cover;
}

#our {
	padding-top: 10px;
	padding-left: 20px;
}

#info {
	text-align: center;
	font-size: 2em;
	padding-top: 30px;
	padding-bottom: 20px;
	color: white;
}
#leaf {
	width: 30%;
	display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

#place{
	text-align: center;
  padding-top: 30px;
}
#al {
	width: 50%;
	margin-left: 25%;
	padding-bottom: 5%;

}

/*SUPER TINY */
@media (max-width: 576px) {
	#smallpartners {
		color: #dfe1ca;
		font-size: 2em;
		font-family:'Barlow', sans-serif;
		font-weight: 200;
		width: 60%;
		margin: 0px;
	}

	#our {
		width: 30%;
	}

	#info {
		font-size: 1em;
	}

	}







