body {
	background-color: #dfe1ca;
	box-sizing: border-box;
}

#title {
	font-family: 'Nixie One', cursive;
  	font-size: 4em;
  	text-align: center;

}
#main_content {
	background-color: white;
}
.logo {
	display: block;
	padding-right: 3%;
	padding-left: 3%;
}

#small_list {
	padding-bottom: 15px;
	font-size: 1.5em;
}

hr {
  border-top: 5px solid #C1CD99;
  padding-bottom: 4px;
}

#new_partners {
	font-family:'Barlow', sans-serif;
  	font-weight: 200;
  	font-size: 1.3em;
	text-align: center;
}





