body {
	background-color: #dfe1ca;
	box-sizing: border-box;
}

#main_content {
	background-image: url("pics/darkleaves2.jpeg");
	background-size: cover;
}

#our {
	padding-top: 10px;
	padding-left: 20px;
}

#info {
	text-align: center;
	font-size: 2em;
	padding-top: 30px;
	padding-bottom: 20px;
	color: white;
}
#leaf {
	width: 30%;
	display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

#place{
	text-align: center;
  padding-top: 30px;
}
#al {
	width: 50%;
	margin-left: 25%;
	padding-bottom: 5%;
	padding-top: 10px;
}
.loc {
	width: 10%;
}
#state {
	position: relative;
}
#AEC {
	position: absolute;
	bottom: 60%;
	left: 44%;
}
#aec_name {
	position: absolute;
	bottom: 58%;
	left: 47%;
}
#pals {
	position: absolute;
	bottom: 40%;
	left: 50%;
}
#pals_name {
	position: absolute;
	bottom: 32%;
	left: 48%;
}
#aww {
	position: absolute;
	bottom: 45%;
	left: 62%;
}
#aww_name {
	position: absolute;
	color: #c1cd99;
	left: 73%;
	bottom: 49%;

}
#conservationalabama {
	position: absolute;
	bottom: 11%;
	left: 28%;
}
#ca_name {
	position: absolute;
	left: 30%;
	bottom: 24%;

}
a:hover + .partner_name {
	display: inline-block;
}
.partner_name {
	color: dark gray;
	display: none;
	font-family:'Barlow', sans-serif;
  	font-weight: 200;
}

/* XL */
@media (min-width: 1200px) {
	.partner_name {
		font-size: 1.5em;
	}
	#aec_name {
		left: 34%;
	}
	#pals_name {
	bottom: 33%;
	left: 48%;
	}
	#aww_name {
	left: 73%;
	bottom: 52%;
	}
}

/* LG */
@media (min-width: 992px) and (max-width: 1199px) {
	#aec_name {
		left: 37%;
	}
	#pals_name {
	bottom: 35%;
	left: 49%;
	}
	#aww_name {
	font-size: 1.3em;
	left: 73%;
	bottom: 52%;
	}
}

/* MD  */
@media (min-width: 768px) and (max-width: 991px) {
	#aec_name {
		left: 35%;
	}
	#aww_name {
		left: 73%;
		bottom: 52%;
	}
}

/* SM */
@media (min-width: 576px) and (max-width: 767px) {
	#aec_name {
		left: 31%;
		bottom: 57%;
	}
	.partner_name {
		font-size: 14px;
	}

}

/* XS */
@media (max-width: 576px) {
	#smallpartners {
		color: #dfe1ca;
		font-size: 2em;
		font-family:'Barlow', sans-serif;
		font-weight: 200;
		width: 60%;
		margin: 0px;
	}

	#our {
		width: 30%;
	}

	#info {
		font-size: 1em;
	}
	#aec_name {
		display: none;
	}
	#pals_name {
		display: none;
	}
	#aww_name {
		display: none;
	}
	#ca_name {
		display: none;
	}
}

/* XXS */
@media (max-width: 525px) {
	#aec_name {
		display: none;
	}
	#pals_name {
		display: none;
	}
	#aww_name {
		display: none;
	}
	#ca_name {
		display: none;
	}
}






