body {
	background-color: #dfe1ca;
}

#main_content {
	background-color: #859871;
}

#our {
	padding-top: 10px;
}

#info {
	text-align: center;
	font-size: 2em;
	padding-top: 30px;
}
#leaf {
	width: 30%;
	display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

#place{
	text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}